
div{
    background-color: lightskyblue;
    color: white;
}
ul{
    background-color: lightgreen;
    color:black;
}
h3{
    color: bisque;
}
h1{
    color: black;
}
h2{
    color:black
}
ol{ 
    background-color: lightpink;
    color: blanchedalmond;
}