#summary{
    background-color: lightcoral;
    color: beige;
}
.projects{
    background-color: lightpink;
    color: black

}
#education{
    background-color: blueviolet;
    color:lightgrey ;
}

.skills{
    background-color: lightskyblue;
    color: azure;
}